@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Tajawal', sans-serif;
}

#root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/* Add RTL specific styles */
[dir="rtl"] {
  text-align: right;
}

[dir="rtl"] .transform-flip {
  transform: scaleX(-1);
}
